body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;  
    color: #ebdbb2;
}

h1 {
    color: #83a598; 
}

h2, h3 {
    color: #458588; 
}

header {
    background-color: #b16286; 
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}
nav a {
    color: #83a598; 
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

table {
    width: 50%;
    margin: 15px auto;
    border-collapse: collapse ;
    border: 1px solid #ebdbb2;
}
th, td {
    border: 1px solid #ebdbb2;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3c3836; 
    color: #ebdbb2;
    padding: 10px;
}

form {
    width: 50%;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ebdbb2;
    border-radius: 10px;
    background-color: #3c3836; 
}