.custom-btn {
    border-radius: 50px;
    padding: 15px 40px;
    transition: transform 0.3s, background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

.custom-btn:hover {
    transform: scale(1.1);
    background-color: #28a745 !important;
    border-color: #28a745;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}